.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mh-container {
  width: 100%;
  padding-top: 3.25rem;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.mh-nav {
  font-size: 14pt;
}

.mh-nav-brand {
  text-decoration: none;
  color: #ffffff;
  font-size: 18pt;
}

.mh-nav-brand:hover {
  color: #ffffff;
}

.mh-nav-social {
  font-size: 10pt;
}