// Variables
@import 'variables';
@import 'custom';
//@import "~datatables.net-bs4";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb-free';
// Fonts
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
//@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';


